DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/teamaking?schema=public"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
ENABLE_DEMO_ACCESS="true"
ADMIN_HOSTS="admin.teamingapp.org"
CRAWLER_HOSTS="crawler.teamingapp.org"
ADMIN_BOOTSTRAP_EMAIL=""
ADMIN_BOOTSTRAP_PASSWORD=""
ADMIN_BOOTSTRAP_ROLE="super_admin"
ADMIN_BOOTSTRAP_DISPLAY_NAME="TEAMAKING Admin"
DEVELOPER_LOGIN_EMAIL="developer@teamingapp.org"
DEVELOPER_LOGIN_PASSWORD="change-me"
DEVELOPER_LOGIN_ROLE="school_admin"
DEVELOPER_LOGIN_DISPLAY_NAME="TEAMAKING Developer"
TENCENTCLOUD_SECRET_ID=""
TENCENTCLOUD_SECRET_KEY=""
TENCENTCLOUD_SES_REGION="ap-hongkong"
TENCENTCLOUD_SES_FROM_EMAIL="Developer_Teamaking <verify@notify.teamingapp.org>"
TENCENTCLOUD_SES_REGISTER_TEMPLATE_ID=""
TENCENTCLOUD_SES_RESET_TEMPLATE_ID=""
TENCENTCLOUD_SES_REPLY_TO_EMAIL=""
TENCENTCLOUD_SES_TEST_RECIPIENT_EMAIL=""
UPLOAD_STORAGE_MODE=""
EMAIL_DEBUG_CODE_RESPONSE="false"
